resource_group_name     = 
resource_group_location =

application_identity_name  =
application_identity_type  =
service_principal_end_date =

log_analytics_workspace_name     =
log_analytics_workspace_location =
log_analytics_workspace_sku      =

vnet_name          =
vnet_cidr_blocks   =
subnet_name        =
subnet_cidr_blocks =
nsg_name           =

cluster_name       =
dns_prefix         =
admin_username     =
agent_name         =
agent_count        =
agent_vm_size      =
os_disk_size_gb    =
service_cidr       =
dns_service_ip     =
docker_bridge_cidr =
chart_name         =
chart_version      =
